td.red-text {
    color:red !important
}

th.extracts-header {
    background-color: #7bc5fe !important
}

th.vat-header {
    background-color: #a5e587 !important
}

th.fixed-assets-header {
    background-color: #ffd37d !important
}

th.accountable-header {
    background-color: #f99596 !important
}

td.blocked {
    background-color:#ffe7ba !important
}